body {
  background-color: black;
  padding-left: 20px;
  padding-top: 60px;
}



#openweathermap-widget-22 h2,
#openweathermap-widget-22 span,
#openweathermap-widget-22 p {
  color: #fff !important;
}

#openweathermap-widget-22 img {
  filter: invert(100%);
}

#openweathermap-widget-22 .widget-left {
  padding-top: 60px;
}

#openweathermap-widget-22 .widget-left,
#openweathermap-widget-22 .widget-left-menu {
  background-color: black;
}

#openweathermap-widget-22 .widget-left-menu__layout {
  display: none;
}


p {
  font-size: 25px;
  color: #fff;
}


/* Calendar Styles */


/* @main-bg:rgb(40,40,59);
@calendar-border:#fff;
@calendar-bg:#fff;
@calendar-standout:rgb(40,40,59);
@calendar-color:#444;
@calendar-fade-color:#c0c0c0;
@body-color:#444; */ */

/* html, body {
  height:100%;
}
body {
  font-size:100%;
  line-height:1.5;
  font-family: "Roboto Condensed", sans-serif;
  background:@main-bg;
  background-image:linear-gradient(@main-bg 0%, darken(@main-bg,12%) 100%);
  color:@body-color;
} */

/* *, *:before, *:after {
  box-sizing:border-box;
}

.group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
} */

img {
  max-width:100%;
  height:auto;
  vertical-align:baseline;
}

a {
  text-decoration:none;
}

td {
  color: #979797;
}

/* .max(@maxWidth;
  @rules) {
    @media only screen and (max-width: @maxWidth) {
      @rules();
    }
  } */

/* .min(@minWidth;
  @rules) {
    @media only screen and (min-width: @minWidth) {
      @rules();
    }
  } */


.calendar-wrapper {
  width:360px;
  /* margin:3em auto; */
  padding:2em 0;
  /* border:1px solid #d3d3d3; */
  /* border-radius:5px; */
  /* background:@calendar-bg; */

}
table {
  clear:both;
  width:100%;
  border:1px solid #4b4b4b;
  /* border-radius:3px; */
  /* border-collapse:collapse; */
  color:@calendar-color;
}
td {
  height:48px;
  text-align:center;
  vertical-align:middle;
  border-right:1px solid #4b4b4b;
  border-top:1px solid #4b4b4b;
  width:100% / 7;
}
td.not-current {
  color:@calendar-fade-color;;
}
td.normal {}
td.today {
  font-weight:800;
  color:#fff;
  font-size:2em;
}
thead td {
  border:none;
  color:#fff;
  text-transform:uppercase;
  font-size:1.5em;
}
